.codigo-input{
    width: 45px;
    height: 50px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: black !important;
}
.container-modal{
    width: 700px !important;
    margin: auto !important;
}