*{
  padding:  0 ;
  
  box-sizing: border-box !important;
}
body{
   background-color: var(--cor7) !important;
}
:root{
  --cor1:black;
  --cor2:white;
  --cor3:#003366;
  --cor4:#066fd8;
  --cor5:#007acc;
  --cor6:#66ccff;
  --cor7:rgb(199, 209, 241);
}
.header-container{
    background-color: var(--cor3) !important;
    color: var(--cor2) !important;
}
.container-body{
  min-height: 100vh;
}
.guide{
    color: var(--cor2) !important;
}
.guide:hover{
  color: var(--cor6) !important;
}
.guide:focus{
  color: var(--cor6) !important;
}
.App h1{
  color: var(--cor3);
  font-weight: 350;
}
.App h2{
  color: var(--cor3);
  font-weight:350;
}
.center{
  display: flex !important;
  align-items: center !important;
  justify-content:  center !important;
  text-align: center !important;
  margin: auto !important;
  flex-direction: column;
}

.center-no-text{
  display: flex !important;
  align-items: center !important;
  justify-content:  center !important;
  margin: auto !important;
}
#initial{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.intro{
  background-image: url("./../public/imagens/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;   
  width: 100vw !important;
  background-position: center;
}
.intro h1{
  color: var(--cor2) !important;
}
.center p, .link{
  color: var(--cor2);
}
.tab-pane {
  margin-top: 15px !important;
  padding-top: 0 !important;
  
}
.card{
  border-radius: 8px !important;
  background: whitesmoke !important;
}
.tabs-custom{
  
  border-bottom: none  !important;
  border-top: none !important;
  background-color: transparent !important;
}
.tabs-custom .nav-link{
  color: var(--cor3) !important;
}
.tabs-custom .nav-link.active{
  border-top: 3px solid var(--cor4) !important;
  border-left: 1px solid var(--cor4) !important;
  border-right: 1px solid var(--cor4) !important;
  border-bottom:  none !important;
  background-color: var(--cor2) !important;
  width: 100% !important;
  color: var(--cor3) !important;
  
}

.container-img-home{
  background: none !important;
  background-color: none !important;
}
.card-aluno{
  background-color:  var(--cor7) !important;
}
.campos-aluno{
  color: var(--cor3) !important;
}

.card-livros{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background: transparent !important;
  
}
.card-livros h3{
  font-size: 1.3em;
  color: var(--cor1) !important;
  font-weight: 350 !important;
}
.card-livros p{
  margin-top: -5px;
  color:  var(--cor1) !important;
}
.card-livros .selection{
  margin-top: -30px;
  margin-bottom: 20px;
}

.modal-body-scrool{
  max-height: 300px;
  overflow-y: auto;
}
.img-modal{
  width: 100%;
  height: 120px !important;
}
.paragrafos{
  color: var(--cor1) !important;
  font-weight: 350 !important;
}
.bordas{
    border: 1px solid !important;
    border-radius: 5px !important;
    border-color: var(--cor3) !important;
}
.pesquisar:hover{
  background-color: var(--cor6) !important;
}
.btn-pesquisar{
  color: var(--cor3) !important;
}
.btn-add:hover{
  background-color: var(--cor3) !important;
  color: var(--cor6) !important;
}
.btn-add{
  background-color: var(--cor3) !important;
  color: var(--cor2) !important;
  font-weight: bold !important;
  border: none !important;
}
.btn-add-social{
  background-color:var(--cor2) !important;
  color: var(--cor3) !important;
  font-weight: bold !important;
  border: none !important;
}
.btn-add-social-icones{
  color:var(--cor3) !important;
}
.link{
  color: var(--cor6) !important;
}
.link:hover{
  color: var(--cor2) !important;
}
.footer{
  background-color: var(--cor5) !important;
  padding: 50px;
  text-align: center;
  font-weight: 400 !important;
  color: var(--cor1) !important;
}




